@import 'custom';

//import components
@import 'components/animations';
@import 'components/carousel';
@import 'components/mixins';
@import 'components/typography';

//import sections
@import 'sections/header';
@import 'sections/navbar';
@import 'sections/services';
@import 'sections/statistics';
@import 'sections/footer';


body{
    background-color: #F8F9FA;
    margin: 0;
    padding: 0;
}
.formSection{
    margin-top: -11%;
    input::placeholder{
        color: #fff;
      }
}

.aboutImg img{
    background-size: contain;
    background-position: center;
    width: 90%;
    @include media-breakpoint-down(xl) { 
        width: 100%;
    }
    @include media-breakpoint-up(xl) { 
        width: 60%;
    }

}

.Car{
    .hoverCar{
        position: absolute;
        top: 0;
        background-color: aqua;
        z-index: 22;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0;
        display:flex;
        justify-content: center;
        align-items: center;
        &:hover{
               opacity: 85%;
            }
         a{
            padding: 10px;
            background-color: #1089FF;
            color:#fff;
           
            text-align: center;
            width: 50%;
         }
    }
}


