

.menu {
    background: transparent;
    a{
        color:$primary;
        font-weight: 500;
        &:hover{
            color:$secondary;
        }
        
    }
}
.active{
    color:$secondary !important;
}
